.navbar {
  height: 100px;
  background-color: ghostwhite;
  /* margin-top: 1%; */
}

h1 {
  color: black;
  text-align: left;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.text-secondary {
  text-align: right;
}
